# Node modules
/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build outputs
/dist/
/build/
/out/
/coverage/

# TypeScript specific
*.tsbuildinfo

# IDE / Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
/bower_components/

# MacOS specific
*.DS_Store

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# JetBrains specific files
.idea/
